/* Style: Pink */

#strip { background: url(pink/strip.png) repeat-x top center; height: 12px; }

#featured h3, .archive_header, .post .cat-title, #comments h3, #respond h3 { background: #b57f8e; }

#latest h3, .page .post .cat-title { background: #c1a6ad; }

#popular h3 { background: #71303f; }

.postmeta h3, .widget h3, #footer-widgets h3 { background: #a06373; }

.widget_woo_flickr h3 { background: none !important; }

#footer-widgets h3, .widget_woo_blogauthorinfo h3 { background: #a06373 !important; }

#footer{padding: 30px 0 30px;background: url(pink/strip.png) repeat-x top center; color:#666;}

.post-nav .prev a, .post-nav .next a { color: #dcbcc5 !important; }

.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #eddce1; }

#respond #commentform #submit { background: #c89ca9; border-color: #c89ca9; }

#respond #commentform #submit:hover { background: #ad8691; border-color: #ad8691; }

#loopedSlider .slide-content h2 { background: rgba(160, 99, 115, 0.8); }