/* Style: Grey */

#strip { background: url(grey/strip.png) repeat-x top center; height: 12px; }

#featured h3, .archive_header, .post .cat-title, #comments h3, #respond h3 { background: #999999; }

#latest h3, .page .post .cat-title { background: #b4b3b3; }

#popular h3 { background: #4c4c4c; }

.postmeta h3, .widget h3, #footer-widgets h3 { background: #7f7f7f; }

.widget_woo_flickr h3 { background: none !important; }

#footer-widgets h3, .widget_woo_blogauthorinfo h3 { background: #7f7f7f !important; }

#footer{padding: 30px 0 30px;background: url(grey/strip.png) repeat-x top center; color:#666;}

.post-nav .prev a, .post-nav .next a { color: #cccccc !important; }

.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #e5e5e5; }

#respond #commentform #submit { background: #b2b2b2; border-color: #b2b2b2; }

#respond #commentform #submit:hover { background: #989797; border-color: #989797; }

#loopedSlider .slide-content h2 { background: rgba(127, 127, 127, 0.8); }