/* Style: Purple */

#strip { background: url(purple/strip.png) repeat-x top center; height: 12px; }

#featured h3, .archive_header, .post .cat-title, #comments h3, #respond h3 { background: #a76c9e; }

#latest h3, .page .post .cat-title { background: #bc9bb7; }

#popular h3 { background: #5d2052; }

.postmeta h3, .widget h3, #footer-widgets h3 { background: #8f4f85; }

.widget_woo_flickr h3 { background: none !important; }

#footer-widgets h3, .widget_woo_blogauthorinfo h3 { background: #8f4f85 !important; }

#footer{padding: 30px 0 30px;background: url(purple/strip.png) repeat-x top center; color:#666;}

.post-nav .prev a, .post-nav .next a { color: #d5afcf !important; }

.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #e9d5e6; }

#respond #commentform #submit { background: #bd8bb7; border-color: #bd8bb7; }

#respond #commentform #submit:hover { background: #a47a9f; border-color: #a47a9f; }

#loopedSlider .slide-content h2 { background: rgba(143, 79, 133, 0.8); }