/* Style: Red */

#strip { background: url(red/strip.png) repeat-x top center; height: 12px; }

#featured h3, .archive_header, .post .cat-title, #comments h3, #respond h3 { background: #c85e70; }

#latest h3, .page .post .cat-title { background: #cb919d; }

#popular h3 { background: #8e1724; }

.postmeta h3, .widget h3, #footer-widgets h3 { background: #b74153; }

.widget_woo_flickr h3 { background: none !important; }

#footer-widgets h3, .widget_woo_blogauthorinfo h3 { background: #b74153 !important; }

#footer{padding: 30px 0 30px;background: url(red/strip.png) repeat-x top center; color:#666;}

.post-nav .prev a, .post-nav .next a { color: #e6a5b2 !important; }

.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #f2cfd5; }

#respond #commentform #submit { background: #d67e90; border-color: #d67e90; }

#respond #commentform #submit:hover { background: #bb6f7e; border-color: #bb6f7e; }

#loopedSlider .slide-content h2 { background: rgba(183, 65, 83, 0.8); }