.nav li a {_height: 0;zoom: 1;} /* IE7 Fix */
.button, .button:visited {  padding:7px 6px; margin:0; }

#comments ol, #comments ol li, #comments ol li .comment-container  { zoom: 1; }
#comments .avatar  { width: 40px; }

#featured, #latest, #popular, .widget { zoom: 1; }
